body {
  margin:  auto  ;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 40px auto 0 auto;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: auto;
}

.bottom-container {

  background-color: #66bfbf;
  padding:50px 0 ;

}
a{
  color: #11999e;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
 text-decoration: none;


}
a:hover{
  color: #eaf6f6;
}

.bottom-cloud {
  position: absolute;
  bottom: 297px;
  left: 278px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align:left;

}
.copy{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  top: 67px;
  right: 325px;
}

.web-design {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.design{
  width: 25%;
  float: left;
  margin-right: 25px;

}
.code{
  width: 25%;
  float: right;
  margin-left: 25px;
}

hr{
  border: dotted #EAF6F6 5px;
  border-bottom: none;
  width:50px;
  margin: 50px auto;
}
.intro{
  width: 40%;
  margin: 40px auto 60px;
;
}
p{
  line-height: 2;
}
.cont-msg{
  width: 40%;
  margin: 40px auto 60px;
}
.contact-me{
  margin-bottom: 70px;
}
.boy{
  width: 220px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient(to bottom, #11CDD4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
